<table class="table len50">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Address</td>
            <td>{{ service.address }}</td>
        </tr>
        {% for key in service.options["query_keys"] %}
            {% if key in info %}
                <tr>
                    <td>{{ key | replace("_", " ") | title }}</td>
                    <td>{{ info[key] }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>