.statusGood {
    background: green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    display: inline-block;
}
.statusBad {
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    display: inline-block;
}
li {
    list-style-type: none;
}
.len35 {
    width: 35%;
}